
{{> header
    title="Sobre Nosotros"
    subtitle="Bienvenido a Deli, tu tienda online ideal para disfrutar de una selección exclusiva de productos deliciosos, saludables y 100% naturales. Nos especializamos en ofrecerte café en grano, té, chocolates artesanales y comida vegana, todo pensado para brindarte una experiencia única de sabor y bienestar, directamente en tu hogar."
}}

<div class="about-us-content">


  <h2>¿Qué Ofrecemos?</h2>
  <ul>
    <li><strong>Café en grano:</strong> En Deli seleccionamos los mejores granos de café de distintas regiones, ofreciendo sabores frescos y auténticos que transforman tu rutina diaria en un momento especial.</li>
    <li><strong>Té:</strong> Nuestra variedad de tés incluye mezclas orgánicas y naturales, pensadas para ofrecerte tanto refresco como calma, dependiendo de lo que tu día necesite.</li>
    <li><strong>Chocolates:</strong> Disfruta de nuestros chocolates artesanales, elaborados con ingredientes naturales, sin aditivos, para que cada bocado sea una verdadera delicia.</li>
    <li><strong>Comida Vegana:</strong> Desde snacks hasta platos completos, nuestra comida vegana es deliciosa y nutritiva, ideal para quienes buscan opciones saludables sin sacrificar sabor.</li>
  </ul>

  <h2>¿Por qué elegir Deli?</h2>
  <ul>
    <li><strong>Comodidad Online:</strong> Comprar en Deli es fácil y rápido. Solo tienes que navegar por nuestra tienda online, elegir tus productos favoritos y recibirlos en la puerta de tu casa.</li>
    <li><strong>Productos de calidad:</strong> Nos aseguramos de que cada uno de nuestros productos sea seleccionado con el máximo cuidado y llegue a ti en su mejor estado, para que disfrutes de su frescura y sabor auténtico.</li>
    <li><strong>Compromiso con el planeta:</strong> Trabajamos con proveedores que comparten nuestro enfoque en la sostenibilidad, utilizando prácticas éticas y respetuosas con el medio ambiente en la producción de nuestros productos.</li>
  </ul>

  
</div>
