<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
    <div>
      <h5 class="card-title">{{nombre}}</h5>
      <p class="card-text">{{descripcion}}</p>
    </div>

    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">Precio: {{precio}}</li>
      <li class="list-group-item">Stock: {{stock}}</li>
      <li class="list-group-item">A third item</li>
    </ul>

    <!-- Botón dentro de card-body con ajuste de espacio -->
    <a href="#" class="btn btn-success w-100 mt-auto">Comprar</a>
  </div>
</div>

