<nav class="navbar navbar-expand-sm bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Deli</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav me-auto"> <!-- 'me-auto' para alinear a la izquierda -->
        <li class="nav-item">
          <a class="nav-link active text-white-50"  aria-current="page" href="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white-50"  href="/about">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white-50"  href="/usuario/register">USUARIO</a> <!--usuario/register es la ruta en views.routes-->
        </li>
         <li class="nav-item">
          <a class="nav-link active text-white-50"  href="/usuario/table">TABLE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white-50"  href="/productos">PRODUCTOS</a>
        </li>
      </ul>
      <!-- Mover 'signIn' a la derecha -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-tertiary" id="login-user" href="/usuario/login">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

