<!-- Contenedor donde se renderiza la tabla -->


<div id="tabla-container"></div>


  <section class="usuario-table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      
    </table>
  </section>
</script>
