{{> header
    title="Ingresa a comprar a nuestra tienda"
   
}}

<section class="container-fluid" id="login-container">
  <div class="d-flex justify-content-center align-items-center vh-50">
    <form action="/api/v1/usuario/login" method="POST" class="w-50">
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="" autocomplete="off" required>
        <div id="emailHelp" class="form-text">Nunca debes compartir tus contraseñas, son privadas.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input class="form-control" name="password" id="password" placeholder="" autocomplete="off" type="password" required>
      </div>
      <button type="submit" class="btn btn-success" id="login-btn">Ingresar</button>
    </form>
  </div>
</section>
